@font-face {
    font-family: 'Marmelad';
    src: url('font-face/marmelad/marmelad-regular.ttf') format('truetype'),
         url('font-face/marmelad/marmelad-regular-webfont.woff2') format('woff2'),
         url('font-face/marmelad/marmelad-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Marmelad", sans-serif;
}

.top_panel_title .page_title,
.woocommerce ul.products li.product h3,
.woocommerce-page ul.products li.product h3,
.woocommerce ul.products li.product .price,
.woocommerce div.product .product_title,
.woocommerce div.product .woocommerce-tabs h2,
.woocommerce #content div.product .woocommerce-tabs h2,
.woocommerce-page div.product .woocommerce-tabs h2,
.woocommerce-page #content div.product .woocommerce-tabs h2,
.single-product div.product .woocommerce-tabs.trx-stretch-width .wc-tabs li a,
.woocommerce.widget_shopping_cart .quantity,
.woocommerce .widget_shopping_cart .quantity,
.woocommerce-page.widget_shopping_cart .quantity,
.woocommerce-page .widget_shopping_cart .quantity
{
    font-family: "Marmelad", sans-serif!important;
}

label,
.contact_field_wrap,
.top_panel_icon .cart_summa,
.top_panel_icon .contact_cart_label,
.top_panel_icon .cart_items,
.wp-block-quote.is-style-large:not(.is-style-plain),
.wp-block-quote.is-style-large,
blockquote,
.post_author .post_author_name,
.comments_form_title,
.comments_list_wrap .comments_list_title,
.comments_list_wrap .comment_reply,
.widget_area .widget_title,
.widget_area .widget_calendar .month_cur,
.woocommerce .product_meta span,
.woocommerce div.product p.price,
.woocommerce .product_meta span span,
.woocommerce .product_meta a,
.woocommerce ul.cart_list li a,
.woocommerce ul.product_list_widget li a,
.woocommerce-page ul.cart_list li a,
.woocommerce-page ul.product_list_widget li a,
.woocommerce .widget_price_filter .price_label,
.sc_call_to_action .sc_call_to_action_descr,
.sc_countdown.sc_countdown_style_1 .sc_countdown_label,
.sc_promo .sc_promo_descr,
.sc_skills_pie.sc_skills_compact_off .sc_skills_info,
.sc_item_descr,
.post_info .post_info_item.post_info_tags
{
    font-family: "Lato", sans-serif!important;
}

/* Buttons */

#btn-buy,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit,
.woocommerce #content input.button,
.woocommerce-page a.button,
.woocommerce-page button.button,
.woocommerce-page input.button,
.woocommerce-page #respond input#submit,
.woocommerce-page #content input.button,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce #respond input#submit.alt,
.woocommerce #content input.button.alt,
.woocommerce-page a.button.alt,
.woocommerce-page button.button.alt,
.woocommerce-page input.button.alt,
.woocommerce-page #respond input#submit.alt,
.woocommerce-page #content input.button.alt,
.woocommerce-account .addresses .title .edit 
{
    font-family: "Lato", sans-serif!important;
}

/* Shortcodes */

.sc_call_to_action .sc_call_to_action_subtitle,
.sc_intro_style_3 .sc_intro_descr,
.sc_promo .sc_promo_subtitle,
.sc_services_item .sc_services_item_subtitle,
.sc_testimonials_style_testimonials-1 .sc_testimonial_author,
.sc_countdown.sc_countdown_style_1 .sc_countdown_digits,
.sc_countdown.sc_countdown_style_1 .sc_countdown_separator,
.sc_dropcaps .sc_dropcaps_item,
.sc_price_block .sc_price_block_money .sc_price_currency,
.sc_price_block .sc_price_block_money .sc_price_money,
.sc_skills_pie.sc_skills_compact_off .sc_skills_total,
.sc_table table tr:first-child th,
.sc_table table tr:first-child td,
.sc_tabs .sc_tabs_titles li,
.sc_team_item .sc_team_item_info .sc_team_item_position,
.sc_testimonial_content 
{
    font-family: "Lato", sans-serif!important;
}

.sc_call_to_action .sc_call_to_action_title,
.sc_call_to_action_style_2 .sc_call_to_action_title,
.sc_intro_style_3 .sc_intro_title,
.sc_price_block .sc_price_block_title,
.sc_services_item .sc_services_item_title,
.sc_team_item .sc_team_item_info .sc_team_item_title 
{
    font-family: "Marmelad", sans-serif!important;
}

/* Top panel and post info */

.top_panel_title .breadcrumbs,
.post_info .post_info_item.post_info_tags .post_info_tags_label,
blockquote > a,
blockquote > p > a,
blockquote cite,
#send_comment 
{
    font-family: "Lato", sans-serif!important;
}