.copyright_wrap.copyright_style_socials.scheme_original {
    .columns_wrap {
        display: flex;
        flex-direction: column;
        gap: 2em;
        align-items: center;
        justify-content: space-around;
        
        @media (min-width:769px) {
            flex-direction: row;
            gap: 0;
        }

        &::after {
            width: auto;
        }
    
        .copyright_text {
            margin-top: 0;
        }

        [class*="column-"] {
            padding-right: 0;
        }

        .copyright_socials {
            margin-top: 0;
        }
    }

    
   
}